<nav class="navbar navbar-expand-md navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="#">FTN - Studentski Web Servis</a>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="loginStatus$ | async" class="nav-item">
        <a class="nav-link logout-btn" (click)="logout()">Odjava</a>
      </li>
    </ul>
  </div>
</nav>
