<div class="continer" style="text-align: center">
  <h4 class="display-4 text-center">Uplate na račun studenta</h4>
  <br />
  <p>Izaberite studenta</p>
  <div class="ng-autocomplete" style="margin: 0 auto">
    <ng-autocomplete
      [data]="students"
      [searchKeyword]="keyword"
      (selected)="selectEvent($event)"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
    >
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.fullId"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
  <br />
  <p>Unesite iznos za uplatu (RSD)</p>
  <input
    name="value"
    style="text-align: center; width: 200px; margin:0 auto"
    class="form-control"
    placeholder="Unesite iznos"
    [(ngModel)]="payment.value"
  />
  <p style="color:red">{{ errorMsg }}</p>
  <br />
  <button
    style="margin: 5px"
    type="button"
    (click)="pay()"
    class="btn btn-outline-info"
  >
    Izvršite uplatu
  </button>
</div>
