<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Predmet</th>
      <th>Učionica</th>
      <th>Datum</th>
      <th>Ispitni rok</th>
      <th>Cena ispita</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let subject of subjects$ | async">
      <tr *ngFor="let exam of subject.exams">
        <td>{{ exam.subject.name }}</td>
        <td>{{ exam.classroom }}</td>
        <td>
          {{ exam.date.split("T")[0] }}
          {{ exam.date.split("T")[1].split(":")[0] }}:{{
            exam.date.split("T")[1].split(":")[1]
          }}h
        </td>
        <td>{{ exam.examPeriod.name }}</td>
        <td>200 RSD</td>
        <td *ngIf="!exam.registered">
          <button class="btn btn-outline-info" (click)="registerExam(exam)">
            Prijavi
          </button>
        </td>
        <td *ngIf="exam.registered">
          <button class="btn btn-outline">
            Prijavljen
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
