<div class="col-lg-14 col-md-14 col-sm-14">
  <div class="tab-panel tabovi">
    <tabset #memberTabs class="member-tabset">
      <tab heading="Predmeti">
        <app-professor-subjects-list></app-professor-subjects-list>
      </tab>
      <tab heading="Ispiti">
        <app-professor-exams-list></app-professor-exams-list>
      </tab>
      <tab heading="Kolokvijumi">
        <app-professor-tests-list></app-professor-tests-list>
      </tab>
      <tab heading="Rezultati ispita">
        <app-exam-results></app-exam-results>
      </tab>
    </tabset>
  </div>
</div>
