<div class="tab-panel tabovi">
  <tabset #memberTabs class="member-tabset">
    <tab heading="Nastavnici">
      <div class="container">
        <app-professors-list></app-professors-list>
      </div>
    </tab>
    <tab heading="Studenti">
      <div class="container">
        <app-students-list></app-students-list>
      </div>
    </tab>
    <tab heading="Predmeti">
      <app-subjects-list></app-subjects-list>
    </tab>
    <tab heading="Ispiti">
      <app-exams-list></app-exams-list>
    </tab>
    <tab heading="Uplate studentima">
      <app-payment></app-payment>
    </tab>
  </tabset>
</div>
