/* You can add global styles to this file, and also import other style files */
.btn {
  cursor: pointer;
}

a {
  color: #3191d1;
}

.btn-info {
  background-color: #72bcda;
  border-color: #72bcda;
}

.btn-outline-info {
  border-color: #72bcda;
}

.btn-outline-info:hover {
  border-color: #72bcda;
  background-color: #72bcda;
}

.display-4 {
  font-size: 30pt;
  margin-top: 10px;
}
