<h4 class="display-4 text-center">Predmeti</h4>
<div class="row  mt-3 mb-3" style="padding-left: 15px;">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-outline-secondary"
    data-toggle="modal"
    data-target="#modalSubject"
    #openModalBtn
    (click)="setSubjectExists(false)"
  >
    Dodaj predmet
  </button>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>ESPB</th>
      <th>Sifra</th>
      <th>Godina</th>
      <th>Smer</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subject of subjects$ | async">
      <td>{{ subject.name }}</td>
      <td>{{ subject.espb }}</td>
      <td>{{ subject.subjectNo }}</td>
      <td>{{ subject.year }}</td>
      <td>{{ subject.fieldsOfStudyDTO.name }}</td>
      <td class="h5">
        <a class="btn btn-outline-secondary" (click)="editSubject(subject.id)">
          Izmeni</a
        >
      </td>
      <td class="h5">
        <a
          class="btn btn-outline-secondary"
          (click)="getSelectedSubject(subject.id)"
          data-toggle="modal"
          data-target="#DeleteModaal"
        >
          Obriši</a
        >
      </td>
    </tr>
  </tbody>
</table>
<div
  class="row d-flex justify-content-center"
  *ngIf="subjectPageable$ | async as subPage"
>
  <pagination
    *ngIf="subPage.totalElements > subPage.size"
    [boundaryLinks]="true"
    [itemsPerPage]="subPage.size"
    [totalItems]="subPage.totalElements"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>

  <!-- Modal -->
  <div
    class="modal fade"
    id="modalSubject"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalSubjectTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSubjectLongTitle">
            Dodavanje predmeta
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div>
                <label>Naziv</label>
                <input
                  name="name"
                  class="form-control"
                  placeholder="Unesite naziv"
                  [(ngModel)]="newSubject.name"
                />
                <label>ESPB</label>
                <input
                  name="espb"
                  class="form-control"
                  placeholder="Unesite ESPB"
                  [(ngModel)]="newSubject.espb"
                />
                <label>Sifra predmeta</label>
                <input
                  name="subjectNo"
                  class="form-control"
                  placeholder="Unesite sifru predmeta"
                  [(ngModel)]="newSubject.subjectNo"
                />
                <label>Godina</label>
                <input
                  name="year"
                  class="form-control"
                  placeholder="Unesite godinu"
                  [(ngModel)]="newSubject.year"
                />
                <label>Smer</label>
                <select
                  name="fieldsOfStudy"
                  class="form-control"
                  #selectFieldsOfStudy
                >
                  <option
                    *ngFor="let f of fieldsOfStudy$ | async"
                    [ngValue]="field"
                    >{{ f.name }}</option
                  >
                </select>
              </div>
            </div>
          </form>
          <div>
            <p class="errMsg" style="color: red; text-align: center;">
              {{ errorMsg }}
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            #closeModalBtn
          >
            Odustani
          </button>
          <button type="button" class="btn btn-info" (click)="addSubject()">
            Sačuvaj izmene
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="DeleteModaal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalDeleteTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeleteLongTitle">
            Brisanje predmeta
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div></div>
              Da li stvarno želite da obrišete ovaj predmet?
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            #closeDeleteModalBtn
          >
            Odustani
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteSubject()"
          >
            Obriši
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
