<div *ngIf="user$ | async as user">
  <div class="card">
    <div>
      <img
        class="card-img-top profile-image"
        src="https://randomuser.me/api/portraits/lego/3.jpg"
        alt="IMG"
      />
      <div class="card-body">
        <strong>Ime i prezime:</strong>
        <p>{{ user.name }} {{ user.surname }}</p>
        <strong>JMBG:</strong>
        <p>{{ user.identityNo }}</p>
        <strong>Mesto stanovanja:</strong>
        <p>{{ user.address }}</p>
        <strong>Email:</strong>
        <p>{{ user.email }}</p>
        <ng-container *ngIf="user.student">
          <hr />
          <strong>Broj indeksa:</strong>
          <p>{{ user.student.indexNo }}</p>
          <strong>Stanje na računu:</strong>
          <p>{{ user.student.accountStatus }},00 RSD</p>
        </ng-container>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group d-flex" role="group">
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#modalUser"
        >
          Izmena lozinke
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalUserTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUserLongTitle">
          Izmena lozinke
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div>
              <label>Stara lozinka</label>
              <input
                name="oldPassword"
                class="form-control"
                type="password"
                placeholder="Unesite staru lozinku"
                [(ngModel)]="changePass.oldPassword"
              />
              <label>Nova lozinka</label>
              <input
                name="newPassword"
                class="form-control"
                type="password"
                placeholder="Unesite novu lozinku"
                [(ngModel)]="changePass.newPassword"
              />
              <label>Ponovite novu lozinku</label>
              <input
                name="repeatedNewPassword"
                class="form-control"
                type="password"
                placeholder="Ponovite lozinku"
                [(ngModel)]="changePass.repeatedPass"
              />
            </div>
          </div>
        </form>
        <div>
          <p class="errMsg">{{ errorMsg }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          #closeModalBtn
        >
          Odustani
        </button>
        <button type="button" class="btn btn-info" (click)="changePassword()">
          Sačuvaj izmene
        </button>
      </div>
    </div>
  </div>
</div>
